<html>
  <head>
    <title> Home </title>
    <%= stylesheet_link_tag "home" %>
  </head>
<body>
  <center><h2 style="color:white;"><%= @greeting %></h2></center>

  <div style="float:left;width:30%">
   <img id="miku-left" src= "https://66.media.tumblr.com/5bff8c5e626d00e888d465709ac9cf80/tumblr_pkqus4Ha0J1wvdg46o4_1280.png" />
  </div>
  <div style="float:right;width:30%">
    <img id = "miku-right" src= "https://66.media.tumblr.com/5bff8c5e626d00e888d465709ac9cf80/tumblr_pkqus4Ha0J1wvdg46o4_1280.png" /> 
  </div>
  <div>
      <img class="center" src= "https://media0.giphy.com/media/BeAk6zYaR3gCk/source.gif" />
  </div>
  <center><iframe id="miku-vid" src="https://www.youtube.com/embed/a-Nf3QUFkOU"></iframe></center>
    

</body>
</html>
